.Cart--Size{
  font-size: 2.5rem;
}

/*Se coloca imagen de fondo en el body y con una opacidad de 0.5 para que se vea transparente y resalte texto*/
.body--background{
    background: linear-gradient(rgba(225, 227, 231, 0.5),rgba(225, 227, 231, 0.5)), url(./assets/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}