/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------- INICIALIZACION -------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Reseteo de pantalla */
*{
  margin: 0;
  padding: 0;
}

/*Se coloca imagen de fondo en el body y con una opacidad de 0.5 para que se vea transparente y resalte texto*/
.body--background{
  background: linear-gradient(rgba(225, 227, 231, 0.5),rgba(225, 227, 231, 0.5)), url(./assets/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------- CartWidget ----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*componente */
.Cart--Size{
  font-size: 2.5rem;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------- Input Contador -------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

input[type="number"]{
  width: 40%;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.container-num{
  width: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__width{
  width: 40px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------- Grid de Cards -------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 2.5rem 2.5rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------- NavBar -----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.navBar--height{
  height: 4rem;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------ Form ------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.form--container{
  background-color: #f8f9fa;
  border-radius: 1rem;
  padding: 1rem;
}